{% extends 'base.html.twig' %}

{% block title %}New AgentVaccin{% endblock %}

{% block body %}
    <h2 style="text-align: right;margin-right: 150px">إضافة ملقح</h2>
    <br/>

    {{ include('agent_vaccin/_form.html.twig') }}

    <a href="{{ path('agent_vaccin_index') }}" style="float:right">قائمة الملقحين </a>
    <!-- jQuery -->
    <script src="{{ asset('vendors/jquery/dist/jquery.min.js')}}"></script>
    <script src="{{ asset('vendors/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>


    <script>


        // iCheck
        $(document).ready(function () {
            $('#agent_vaccin_matricule').on( "blur", function (){
               let mle =  $("#agent_vaccin_matricule").val();
                let url = "http://10.0.2.2:8282/agent/" + mle;
                $.ajax({
                    url:   url,
                    type:       'GET',
                    // data: dataStatus,
                    dataType:   'json',
                    // async:      true,
                    success: function(data, status) {

                        console.log(data);
                        if (data.length == 0) {

                            alert('Matricule Inexistante !');

                        } else {
                            alert("c bien");
                            $("#agent_vaccin_prenom").val(data[0].prenom);
                            $("#agent_vaccin_nom").val(data[0].nom);
                            $("#agent_vaccin_cin").val(data[0].ncin);
                            $("#agent_vaccin_date_nais").val(data[0].datnais);

                        }
                         {#window.location.href = "{{ path('order_index')|escape('js') }}";#}
                    },



                    error: function(xhr, textStatus, errorThrown) {
                        alert('Ajax request failed.');
                    }
                });

            });

        });
    </script>
{% endblock %}
